In [1]:
import os
import sys
os.environ["JAVA_HOME"] = "../data-engineering/.JDK 8"
os.environ["PYSPARK_PYTHON"] = sys.executable
os.environ["PYSPARK_DRIVER_PYTHON"] = sys.executable

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count
import requests, json

# Create SparkSession
spark = SparkSession \
    .builder \
        .appName("GreenDataAnalyticsProject") \
            .getOrCreate()

25/03/29 14:15:08 WARN Utils: Your hostname, Mint-T470 resolves to a loopback address: 127.0.1.1; using 10.46.79.254 instead (on interface wlp4s0)
25/03/29 14:15:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/29 14:15:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
def apiaccess(url):
    try:
        response = requests.get(url)
        geojson_data = response.json()
    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")

    except requests.exceptions.ConnectionError as conn_err:
        print(f"Connection error occurred: {conn_err}")

    except requests.exceptions.Timeout as timeout_err:
        print(f"Timeout error occurred: {timeout_err}")

    except requests.exceptions.RequestException as req_err:
        print(f"An error occurred with the request: {req_err}")

    except ValueError as json_err:
        print(f"Failed to parse JSON: {json_err}")

    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        
    else:
        features = geojson_data.get("features", [])
        json_features = [json.dumps(feature) for feature in features]
        rdd = spark.sparkContext.parallelize(json_features)
        dataframe = spark.read.json(rdd)
        return(dataframe)

In [4]:
api_url = "https://maps2.bristol.gov.uk/server2/rest/services/ext/air_quality/MapServer/0/query?outFields=*&where=1%3D1&f=geojson"
df = apiaccess(api_url)

25/03/29 14:15:33 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [5]:
df.show()

+--------------------+---+--------------------+-------+
|            geometry| id|          properties|   type|
+--------------------+---+--------------------+-------+
|{[-2.627748803206...|  1|{Yes, NULL, No, N...|Feature|
|{[-2.596813947482...|  2|{Yes, NULL, Yes, ...|Feature|
|{[-2.613994167991...|  3|{No, NULL, Yes, N...|Feature|
|{[-2.578333463205...|  4|{Yes, NULL, Yes, ...|Feature|
|{[-2.595294420664...|  5|{Yes, NULL, Yes, ...|Feature|
|{[-2.558965289247...|  6|{Yes, NULL, No, N...|Feature|
|{[-2.697147645214...|  7|{No, NULL, No, NU...|Feature|
|{[-2.579303486860...|  8|{Yes, NULL, No, N...|Feature|
|{[-2.595417508199...|  9|{Yes, NULL, Yes, ...|Feature|
|{[-2.559380932414...| 10|{Yes, NULL, Yes, ...|Feature|
|{[-2.594190185154...| 11|{Yes, NULL, Yes, ...|Feature|
|{[-2.589439954461...| 12|{Yes, NULL, Yes, ...|Feature|
|{[-2.656900421884...| 13|{No, NULL, No, NU...|Feature|
|{[-2.564144569808...| 14|{Yes, NULL, Yes, ...|Feature|
|{[-2.587283945975...| 15|{Yes, NULL, Yes, ...|Feature|
|{[-2.688839013557...| 16|{No, NULL, Yes, N...|Feature|
|{[-2.616505262752...| 17|{No, NULL, No, NU...|Feature|
|{[-2.566797603102...| 18|{No, NULL, No, NU...|Feature|
|{[-2.534937419314...| 19|{No, NULL, No, NU...|Feature|
|{[-2.583371342566...| 20|{Yes, NULL, No, N...|Feature|
+--------------------+---+--------------------+-------+
only showing top 20 rows

In [6]:
df = df.select('id',
               col('properties.SiteID').alias('SiteID'),
    col('properties.location').alias('location'),
    col('properties.LocationClass').alias('Location Type'),
    df.geometry.coordinates.alias("coordinates"),
    col('properties.Pollutants').alias('Pollutants'),
    col('properties.Elevation').alias('Elevation')
    )

In [7]:
df.show(1, truncate=False)

+---+------+----------------+-------------+-----------------------------------------+----------+---------+
|id |SiteID|location        |Location Type|coordinates                              |Pollutants|Elevation|
+---+------+----------------+-------------+-----------------------------------------+----------+---------+
|1  |1     |Withywood School|Urban Traffic|[-2.6277488032062446, 51.407745517999835]|BTX NO2   |NULL     |
+---+------+----------------+-------------+-----------------------------------------+----------+---------+
only showing top 1 row

In [8]:
df = df.withColumn("Longitude", col("coordinates")[0])

In [9]:
df = df.withColumn("Latitude", col("coordinates")[1])

In [10]:
from pyspark.sql import functions as F
max_value = df.agg(F.max('Latitude')).collect()[0][0]
min_value = df.agg(F.min('Latitude')).collect()[0][0]

def normalise(original_value):
    try:
        assert max_value > min_value, "max_value must be larger than min_value"
        assert original_value > min_value, "input must be larger than min_value"
        scaled_value = (original_value - min_value) / (max_value - min_value)
    except AssertionError as e:
        return e
        
    else:
        return scaled_value

In [11]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType
normalise_udf = udf(normalise, DoubleType())

In [12]:
df = df.withColumn("Latitude (Normalised)", normalise_udf("Latitude")) # .drop("Latitude")
df.show(truncate=False)

+---+------+-----------------+----------------+-----------------------------------------+----------+---------+-------------------+------------------+---------------------+
|id |SiteID|location         |Location Type   |coordinates                              |Pollutants|Elevation|Longitude          |Latitude          |Latitude (Normalised)|
+---+------+-----------------+----------------+-----------------------------------------+----------+---------+-------------------+------------------+---------------------+
|1  |1     |Withywood School |Urban Traffic   |[-2.6277488032062446, 51.407745517999835]|BTX NO2   |NULL     |-2.6277488032062446|51.407745517999835|0.0909330382676792   |
|2  |2     |Colston Avenue   |Urban Traffic   |[-2.5968139474821794, 51.454556566902696]|NO2       |9.5      |-2.5968139474821794|51.454556566902696|0.2938159127984107   |
|3  |3     |Blackboy Hill    |Urban Traffic   |[-2.613994167991525, 51.46920548941127]  |NO2       |79.2     |-2.613994167991525 |51.46920548941127 |0.357305528540315    |
|4  |4     |Three Lamps      |Urban Traffic   |[-2.578333463205696, 51.444209895530584] |NO2       |26.6     |-2.578333463205696 |51.444209895530584|0.2489726016785307   |
|5  |5     |Bedminster Parade|Urban Traffic   |[-2.595294420664777, 51.442812042759506] |NO2       |8.1      |-2.595294420664777 |51.442812042759506|0.2429141946354523   |
|6  |6     |Church Road      |Urban Traffic   |[-2.558965289247974, 51.458358093425005] |NO2       |23.6     |-2.558965289247974 |51.458358093425005|0.3102920364172479   |
|7  |7     |St. Andrew's Rd  |Urban Traffic   |[-2.6971476452140064, 51.50110981955063] |NO2       |6.8      |-2.6971476452140064|51.50110981955063 |0.49558147749590986  |
|8  |8     |Higham Street    |Urban Background|[-2.579303486860559, 51.44468165952045]  |NO2       |35.8     |-2.579303486860559 |51.44468165952045 |0.25101726499215116  |
|9  |9     |B.R.I.           |Urban Traffic   |[-2.5954175081992816, 51.45895176376313] |NO2       |19.9     |-2.5954175081992816|51.45895176376313 |0.312865051710554    |
|10 |10    |Bath Road        |Urban Traffic   |[-2.5593809324143635, 51.440516404879745]|NO2       |20.3     |-2.5593809324143635|51.440516404879745|0.23296471427037527  |
|11 |11    |Whitefriars      |Urban Traffic   |[-2.594190185154556, 51.45754626447907]  |NO2       |8.5      |-2.594190185154556 |51.45754626447907 |0.3067735040613447   |
|12 |12    |Galleries        |Urban Traffic   |[-2.5894399544611586, 51.45639234685148] |NO2       |12.5     |-2.5894399544611586|51.45639234685148 |0.3017723316726845   |
|13 |13    |Ferndown Close   |Urban Background|[-2.656900421884163, 51.49450001199961]  |NO2       |69.1     |-2.656900421884163 |51.49450001199961 |0.46693403661442573  |
|14 |14    |Red Lion Knowle  |Urban Traffic   |[-2.5641445698086747, 51.43016217223045] |NO2       |60.6     |-2.5641445698086747|51.43016217223045 |0.18808863196323813  |
|15 |15    |Horsefair        |Urban Traffic   |[-2.5872839459753796, 51.4588669853932]  |NO2       |10.3     |-2.5872839459753796|51.4588669853932  |0.31249761539385457  |
|16 |16    |Third Way        |Urban Traffic   |[-2.688839013557719, 51.50518715900643]  |NO2       |7.6      |-2.688839013557719 |51.50518715900643 |0.5132529966910423   |
|17 |17    |Anglesea Place   |Urban Traffic   |[-2.6165052627526926, 51.468580852794794]|NO2       |81.2     |-2.6165052627526926|51.468580852794794|0.3545983028904187   |
|18 |18    |Hillcrest        |Urban Background|[-2.5667976031020703, 51.428360058828844]|NO2       |54.1     |-2.5667976031020703|51.428360058828844|0.18027812662917475  |
|19 |19    |Conham Vale      |Urban Traffic   |[-2.5349374193143355, 51.44686157275239] |NO2       |13.5     |-2.5349374193143355|51.44686157275239 |0.2604651853675661   |
|20 |20    |Newfoundland Way |Urban Traffic   |[-2.5833713425664975, 51.46019039076201] |NO2       |9.9      |-2.5833713425664975|51.46019039076201 |0.31823336137020186  |
+---+------+-----------------+----------------+-----------------------------------------+----------+---------+-------------------+------------------+---------------------+
only showing top 20 rows

In [13]:
df.toPandas().to_csv("cleanedAirQualityData.csv", index=False)